.home {
  font-style: italic;
}
h1{
	text-align: center;
}
p {
	text-align:center;
}

.homeIcon	{
	display: inline-block;
	position:absolute;
	left: 42%;	
}

.homeIconSection {
	padding-bottom: 30px;
}

.rightIcon	{
	display: inline-block;
	position:absolute;
	right: 0;
	top:96px;
}

.status {
    background-color: pink;
    text-transform: uppercase;
    padding: 2px;
    color: #3F484A;
    font-size: 16px;
}

