.home {
  font-style: italic;
}
h1{
	text-align: center;
}
p {
  text-align: center;
  margin: 10px;
}

.homeIcon	{
	display: inline-block;
	position:absolute;
	left: 42%;
}

.homeIconSection {
	padding-bottom: 30px;
}

.rightIcon	{
	display: inline-block;
	position:absolute;
	right: 0;
	top:96px;
}

.leftIcon {
	display: inline-block;
	position:absolute;
	left: 0;
	top:96px;
}

.status {
    background-color: pink;
    text-transform: uppercase;
    padding: 2px;
    color: #3F484A;
    font-size: 16px;
}

.ambulance-start {
	display: inline-block;
	position:absolute;
	left: 0;
	top: 180px;
	animation: drive 2s;
	animation-fill-mode: forwards;
}

@keyframes drive {
	0% {left: 0}
	100% {left: 100px}
} 


