#notification-container {
  background-color: black;
  color: white;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 30px;
  left: 30px;
  opacity: 0.9;
  z-index: 100;
  padding: 20px;
}

#notification-message-display {
  height: 70%;
}

#notification-buttons {
  display: flex;
}

.notification-button {
  flex: 1;
  cursor: default;
  text-align: center;
}

#notification-button-right {
 text-align: right;
}

#notification-button-left {
 text-align: left;
}

#notification-form-message {
  resize: none;
}

.alert-time {
  color: red;
}

.highlight {
  color: lightgreen;
}

.notif-top {
  font-size: 110%;
  margin-top: 5px;
}

.detail {
  text-align: right;
  font-size: 90%;
  width: 60%;
  float: right;
}

