<p class="notif-top">Your carer<br>
  <span class="highlight">{{name}}</span><br>
  is <span class="alert-time">20 minutes</span> away
</p>
<p>
  <i class="fas fa-hands-helping fa-3x"></i>
</p>
<p class="detail">Press <span class="highlight">right</span> button for more info</p>
<audio autoplay>
  <source src="/public/sounds/definite.mp3" type="audio/mpeg">
</audio>