<div class="homeIconSection">
	<i class="homeIcon fas fa-home fa-2x"></i>
</div>
<div>
	<h1>Next Patient</h1>
    <p>Name: {{this.contact.name}}</p>
    <p>Address: {{this.contact.address}}</p>
    <p>Suburb: {{this.contact.suburb}}</p>
    <p>Time: {{this.contact.time}}</p>
    {{#if this.new}}
        <p class="status">new</p>
    {{/if}}
</div>