<h1>Next Patient</h1>
<div>
    <p>Name: {{this.contact.name}}</p>
    <p>Address: {{this.contact.address}}</p>
    <p>Suburb: {{this.contact.suburb}}</p>
    <p>Time: {{this.contact.time}}</p>
</div>